<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} bienvenidos a {% endblock %}</title>
</head>
<body>
    <!-- Aqui va la barra de navegación -->
    <header>
        {% include "navbar.html"%}
    </header>
        
    <!-- Aqui va el cuerpo  -->
    {% block body %}
    {% endblock %}
    <!-- Aqui va la barra inferior   -->
    <footer>
        {% include "footer.html"%}
    </footer>
</body>
</html>