<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} bienvenidos a {% endblock %}</title>
    <!-- Primero buscar la carpeta que contiene los archivos static -->
    <!-- Segundo con filaname colocas la ruta de la imagen -->
    <link rel="stylesheet" type="" href="{{ url_for("static", filename="css/bootstrap.min.css") }}">
    <link rel="stylesheet" type="" href="{{ url_for("static", filename="css/main.css") }}">

</head>
<body>
    <!-- Aqui va la barra de navegación -->
    <header>
        {% include "navbar.html"%}
    </header>
        
    <!-- Aqui va el cuerpo  -->
    {% block body %}
    {% endblock %}
    <!-- Aqui va la barra inferior   -->
    <footer>
        {% include "footer.html"%}
    </footer>
</body>
</html>