
<!-- Con extends importas la estructura de html -->
{% extends "base.html" %}
{% import "macros.html" as muchas_macros %}

{% block title %}
{{super()}} hello
{% endblock %}



<!-- Para visualizar el cuerpo incluimos block body en la base  -->

{% block body %}
<section>
    <!-- Primero entra en la funcion de hello  y sino lo encuentra te manda la funcion index -->
    {% if user_ip %}
    <h1> dfjeirf esto es lo {{user_ip}}</h1>
    {%else%}
    <a href="{{url_for("index") }}">Haz clic aqui </a>
    {% endif %}  

<!-- En este container se guarda la forma -->
    <div> class="container">
        <form>
            action="[[ url_form("hello") ]]" method = "POST">
            {{ login_form.username }}
            {{ login_form.username.label }}
        </form>
    </div>

    <ul>
    {% for perro in perros %}
        {{ muchas_macros.render_jauria(perro) }}
    {% endfor %} 
    </<ul>
</section>

{% endblock %}

