
<!-- Con extends importas la estructura de html -->


{% extends "base.html" %}

{% block title %}
{{super()}} hello
{% endblock %}




<!-- Para visualizar el cuerpo incluimos block body en la base  -->
{% block body %}
<!-- Primero entra en la funcion de hello  y sino lo encuentra te manda la funcion index -->
    {% if user_ip %}
    <h1> dfjeirf esto es lo {{user_ip}}</h1>
    {%else%}
    <a href="{{url_for("index") }}">Haz clic aqui </a>
    {% endif %}  

    <ul>
    {% for perro in perros %}
        <li>{{perro}}</li>
    {% endfor %} 
    </<ul>

{% endblock %}

